section#events
	h2.title Events
	.carousel
		.holder
			for event in events
				div.slide
					.container
						.group(class=event.classes)
							.description 
								h3 #{event.theme}
								p #{event.desc}
							.bubble
								if event.logo
									img(src="#{event.logo}" alt="").logo
								ul
									li 
										strong date:
										| #{event.date}
									li 
										strong time:
										| #{event.time}
									if event.announced
										li 
											strong venue: 
											a.scroll-button(href="#map") #{event.venue}
								if event.announced
									a#reserve-seat.button.big book a seat

						ul.speakers(class=event.classes)
							for speaker in event.speakers
								li
									.title-holder
										h3 #{speaker.title}
									.author
										img(src=speaker.img, alt="")
										h5 #{speaker.name}
										span #{speaker.bio}
									p #{speaker.description}
									.button-group
										if speaker.presentation
											a.button.effect(href=speaker.presentation, target="_blank") 
												div(data-hover="view slides") view slides
										if speaker.video
											a.button.icon(href=speaker.video, target="_blank")
												i.fa.fa-play-circle
						.pagination
							ul

	a.prev.button.inactive(href="#")
		span Prev
		i.fa.fa-angle-left
	a.next.button.inactive(href="#")
		span Next
		i.fa.fa-angle-right