section#speeches
	.container
		h2 Speeches
		h4.title @ Jan, 2015
		a.prev.button(href="#")
			span.date Dec
			i.fa.fa-angle-left
		a.next.button(href="#")
			span.date Feb
			i.fa.fa-angle-right
		.carousel
			.holder
				for speach in speaches
					div.slide
						ul
							for speaker in speach.speakers
								li
									h3 #{speaker.title}
									.author
										img(src=speaker.img, alt="")
										h5 #{speaker.name}
										span #{speaker.bio}
									p #{speaker.description}
									.button-group
										if speaker.presentation
											a.button.effect(href=speaker.presentation) 
												div(data-hover="view slides") view slides
										if speaker.video
											a.button.icon(href=speaker.video)
												i.fa.fa-play-circle